.ncc-logo {
  filter: drop-shadow(0 0 2px #444);
}

body {
  width: 100%;
  background-color: #d8d8d8;
  overflow-y: overlay;
  background: rgba(0, 0, 0, 0.3);
}
body {
  &::-webkit-scrollbar-button {
    height: 4px;
    width: 4px;
    background: rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar {
    width: 0.6vw;
    margin: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: #ffcece;
    border-radius: 5px;
    margin-block: 0.5em;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgb(255, 133, 133);
  }
}

.page-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  perspective: 4000px;
  .card-container {
    aspect-ratio: 1.2;
    height: 80vw;
    max-height: 300px;
    padding: 0;
    transform-style: preserve-3d;
    box-sizing: border-box;
    &.flipped {
      .front {
        transform: rotateY(180deg);
      }
      .back {
        transform: rotateY(0deg);
      }
    }
    .front,
    .back {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      display: block;
      overflow: hidden;
      box-shadow: 0 1px 10px rgba(10, 10, 10, 0.3);
      position: absolute;
      border-radius: 10px;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: -webkit-transform ease 500ms;
      transition: transform ease 500ms;
    }
    .front {
      background-color: #e26361;
      z-index: 2;
      transform: rotateY(0deg);
    }
    .back {
      background-color: #e26361;
      transform: rotateY(-180deg);
    }
  }
}
